[paths]
[server]
protocol = https
http_port = 8443
domain = {{ inventory_hostname }}
enforce_domain = false
cert_file = /etc/grafana/config/cert/gdot-grafana.crt
cert_key = /etc/grafana/config/cert/gdot-grafana.key
[database]
[remote_cache]
[dataproxy]
[analytics]
[security]
admin_user = admin
admin_password = wYhJPGGw4xIyyBBSB2BvDw0zrPD1PpI5B3J4HY3DB0
cookie_samesite = none
[snapshots]
[dashboards]
[users]
[auth]
[auth.anonymous]
[auth.github]
[auth.google]
[auth.generic_oauth]
[auth.saml] # Enterprise only
[auth.grafana_com]
[auth.proxy]
[auth.basic]
[auth.ldap]
enabled = false
config_file = /etc/grafana/ldap.toml
[smtp]
enabled = false
host = mailhost.gdot.ad.local:25
from_address = noreply@dot.ga.gov
from_name = Grafana
[emails]
[log]
[log.console]
[log.file]
[log.syslog]
[alerting]
[explore]
[metrics]
[metrics.graphite]
[tracing.jaeger]
[grafana_com]
[external_image_storage]
[external_image_storage.s3]
[external_image_storage.webdav]
[external_image_storage.gcs]
[external_image_storage.azure_blob]
[external_image_storage.local]
[rendering]
[enterprise]
[panels]
[plugins]
