#
# WARNING: This file is modified by Ansible.  All manual edits will be lost!
#

user {{ nginx_main_template.user }};
worker_processes {{ nginx_main_template.worker_processes }};

error_log  /var/log/nginx/error.log {{ nginx_main_template.error_level }};
pid        /var/run/nginx.pid;

events {
worker_connections {{ nginx_main_template.worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
  upstream {{ gles_upstream_project }} {
    server {{ gles_server_1 }}:9200;
    server {{ gles_server_2 }}:9200;
    server {{ gles_server_3 }}:9200 backup;
    server {{ gles_server_4 }}:9200 backup;
  }

  server {
  listen {{ http_port }};
  client_max_body_size 0;
    server_name     {{ gles_public_dns }};
    access_log      /var/log/nginx/error_gles.{{ environment_prefix }};
    error_log       /var/log/nginx/access_gles.{{ environment_prefix }};
    location / {
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Server $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Graylog-Server-URL https://$server_name/;
      proxy_pass      http://{{ gles_upstream_project }};
    }
  }

  server {
  listen          {{ https_port }} ssl;
  client_max_body_size 0;
    server_name     {{ gles_public_dns }};
    ssl_protocols   TLSv1.2;
    ssl_certificate /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-cert.pem;
    ssl_certificate_key /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-key.pem;
    access_log      /var/log/nginx/error_graylog.{{ environment_prefix }};
    error_log       /var/log/nginx/access_graylog.{{ environment_prefix }};
    location / {
      proxy_ssl_certificate /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-cert.pem;
      proxy_ssl_certificate_key /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-key.pem;
      proxy_ssl_protocols TLSv1.2;
      proxy_ssl_verify on;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Server $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Graylog-Server-URL https://$server_name/;
      proxy_pass      http://{{ gles_upstream_project }};
    }
  }

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  {{ keepalive_timeout }};

    #gzip  {{ gzip }};
    gzip on;
    #include /etc/nginx/conf.d/*.conf;
  server {
  listen {{ status_port }};
    location /nginx_status {
        stub_status on;
    }
  }
}
