#
# WARNING: This file is modified by Ansible.  All manual edits will be lost!
#

user {{ nginx_main_template.user }};
worker_processes {{ nginx_main_template.worker_processes }};

error_log  /var/log/nginx/error.log {{ nginx_main_template.error_level }};
pid        /var/run/nginx.pid;

events {
worker_connections {{ nginx_main_template.worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
  upstream {{ upstream_project }} {
    server {{ server_1 }}:9000;
    server {{ server_2 }}:9000;
    server {{ server_3 }}:9000 backup;
  }
  server {
  listen {{ http_port }};
    server_name _;
    return 301 https://$host$request_uri;
    }

  server {
  listen          {{ https_port }} ssl;
    server_name     {{ public_dns }};
    ssl_protocols   TLSv1.2;
    ssl_certificate /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-cert.pem;
    ssl_certificate_key /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-key.pem;
    access_log      /var/log/nginx/error_graylog.{{ environment_prefix }};
    error_log       /var/log/nginx/access_graylog.{{ environment_prefix }};
    location / {
      proxy_ssl_certificate /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-cert.pem;
      proxy_ssl_certificate_key /etc/nginx/conf/certs/graylog-{{ environment_prefix }}-key.pem;
      proxy_ssl_protocols TLSv1.2;
      proxy_ssl_verify on;
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Server $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Graylog-Server-URL https://$server_name/;
      proxy_pass      http://{{ upstream_project }};
    }
  }

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  {{ keepalive_timeout }};

    #gzip  {{ gzip }};
    gzip on;
    #include /etc/nginx/conf.d/*.conf;
  server {
  listen {{ status_port }};
    location /nginx_status {
        stub_status on;
    }
  }
}

stream {
# BEATS
############################################################################
  upstream {{ beats_prod_ogc }} {
    server {{ server_1 }}:{{ beats_prod_port_ogc }};
    server {{ server_2 }}:{{ beats_prod_port_ogc }};
    server {{ server_3 }}:{{ beats_prod_port_ogc }} backup;
  }
  server {
    listen {{ beats_prod_port_ogc }};
    proxy_pass {{ beats_prod_ogc }};
  }

  upstream {{ beats_nonprod_ogc }} {
    server {{ server_1 }}:{{ beats_nonprod_port_ogc }};
    server {{ server_2 }}:{{ beats_nonprod_port_ogc }};
    server {{ server_3 }}:{{ beats_nonprod_port_ogc }} backup;
  }
  server {
    listen {{ beats_nonprod_port_ogc }};
    proxy_pass {{ beats_nonprod_ogc }};
  }

# GELF TCP
############################################################################
  upstream {{ gelf_prod_tcp_ogc }} {
    server {{ server_1 }}:{{ gelf_prod_port_tcp_ogc }};
    server {{ server_2 }}:{{ gelf_prod_port_tcp_ogc }};
    server {{ server_3 }}:{{ gelf_prod_port_tcp_ogc }} backup;
  }
  server {
    listen {{ gelf_prod_port_tcp_ogc }};
    proxy_pass {{ gelf_prod_tcp_ogc }};
  }

  upstream {{ gelf_nonprod_tcp_ogc }} {
    server {{ server_1 }}:{{ gelf_nonprod_port_tcp_ogc }};
    server {{ server_2 }}:{{ gelf_nonprod_port_tcp_ogc }};
    server {{ server_3 }}:{{ gelf_nonprod_port_tcp_ogc }} backup;
  }
  server {
    listen {{ gelf_nonprod_port_tcp_ogc }};
    proxy_pass {{ gelf_nonprod_tcp_ogc }};
  }

# GELF UDP
############################################################################
  upstream {{ gelf_prod_udp_ogc }} {
    server {{ server_1 }}:{{ gelf_prod_port_udp_ogc }};
    server {{ server_2 }}:{{ gelf_prod_port_udp_ogc }};
    server {{ server_3 }}:{{ gelf_prod_port_udp_ogc }} backup;
  }
  server {
    listen {{ gelf_prod_port_udp_ogc }} udp;
    proxy_pass {{ gelf_prod_udp_ogc }};
  }

  upstream {{ gelf_nonprod_udp_ogc }} {
    server {{ server_1 }}:{{ gelf_nonprod_port_udp_ogc }};
    server {{ server_2 }}:{{ gelf_nonprod_port_udp_ogc }};
    server {{ server_3 }}:{{ gelf_nonprod_port_udp_ogc }} backup;
  }
  server {
    listen {{ gelf_nonprod_port_udp_ogc }} udp;
    proxy_pass {{ gelf_nonprod_udp_ogc }};
  }

# SYSLOG TCP
############################################################################
  upstream {{ syslog_prod_tcp_ogc }} {
    server {{ server_1 }}:{{ syslog_prod_port_tcp_ogc }};
    server {{ server_2 }}:{{ syslog_prod_port_tcp_ogc }};
    server {{ server_3 }}:{{ syslog_prod_port_tcp_ogc }} backup;
  }
  server {
    listen {{ syslog_prod_port_tcp_ogc }};
    proxy_pass {{ syslog_prod_tcp_ogc }};
  }

  upstream {{ syslog_nonprod_tcp_ogc }} {
    server {{ server_1 }}:{{ syslog_nonprod_port_tcp_ogc }};
    server {{ server_2 }}:{{ syslog_nonprod_port_tcp_ogc }};
    server {{ server_3 }}:{{ syslog_nonprod_port_tcp_ogc }} backup;
  }
  server {
    listen {{ syslog_nonprod_port_tcp_ogc }};
    proxy_pass {{ syslog_nonprod_tcp_ogc }};
  }

# SYSLOG UDP
############################################################################
  upstream {{ syslog_prod_udp_ogc }} {
    server {{ server_1 }}:{{ syslog_prod_port_udp_ogc }};
    server {{ server_2 }}:{{ syslog_prod_port_udp_ogc }};
    server {{ server_3 }}:{{ syslog_prod_port_udp_ogc }} backup;
  }
  server {
    listen {{ syslog_prod_port_udp_ogc }} udp;
    proxy_pass {{ syslog_prod_udp_ogc }};
    proxy_responses 0;
  }

  upstream {{ syslog_nonprod_udp_ogc }} {
    server {{ server_1 }}:{{ syslog_nonprod_port_udp_ogc }};
    server {{ server_2 }}:{{ syslog_nonprod_port_udp_ogc }};
    server {{ server_3 }}:{{ syslog_nonprod_port_udp_ogc }} backup;
  }
  server {
    listen {{ syslog_nonprod_port_udp_ogc }} udp;
    proxy_pass {{ syslog_nonprod_udp_ogc }};
    proxy_responses 0;
  }
}
