syscontact {{ snmp_contact }}
sysobjectid {{ snmp_sysobjectid }}
rouser orion
rouser {{ snmp_user }}
extend one /bin/sh /var/lib/net-snmp/scripts/load1.sh
extend five /bin/sh /var/lib/net-snmp/scripts/load5.sh
extend fifteen /bin/sh /var/lib/net-snmp/scripts/load15.sh
extend ntp /var/lib/net-snmp/scripts/ntp_check.bash ntp-check.gdot.ad.local
