# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ graylog_mongodb_data_path }}
  journal:
    enabled: true
  mmapv1:
    smallFiles: true
#  engine:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# network interfaces
net:
  port: 27017
  bindIp: {{ mongodb_bind_ip }}


{% if ansible_distribution != "RedHat" %}
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo
{% endif %}

#security:

#operationProfiling:

replication:
  oplogSizeMB: {{ mongodb_oplogSizeMB }}
  replSetName: {{ mongodb_replSetName }}

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
