global_defs {
    router_id {{ keepalived_router_id }}
    vrrp_garp_interval 0
    vrrp_gna_interval 0
    script_user root
}

vrrp_instance {{ keepalived_vrrp_instance }} {
    state {{ keepalived_state }}
    interface {{ keepalived_iface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_prio }}
    advert_int 1
    authentication {
      auth_type PASS
      auth_pass {{ keepalived_auth }}
    }
    unicast_src_ip {{ keepalived_ip }}
    notify {{ keepalived_notify }}
    notify_stop {{ keepalived_notify }}
    virtual_ipaddress {
      {{ keepalived_vip }}/32 dev {{ keepalived_iface }}
    }
    unicast_peer {
    {{ keepalived_peerips| join("\n") }}
    }
}
