# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
{% if prod == True %}
  {% for item in timeserversprod %} 
server  {{item.timeserver}} iburst
  {%- if not loop.last %}{% endif %}
  {% endfor %}
  {{ '\n' -}} 
{% endif %}
{% if prod == False %}
  {% for item in timeserversnonprod %} 
server  {{item.timeserver}} iburst
  {%- if not loop.last %}{% endif %}
  {% endfor %}
  {{ '\n' -}}
{% endif %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Enable hardware timestamping on all interfaces that support it.
#hwtimestamp *

# Increase the minimum number of selectable sources required to adjust
# the system clock.
#minsources 2

# Allow NTP client access from local network.
#allow 192.168.0.0/16

# Serve time even if not synchronized to a time source.
#local stratum 10

# Specify file containing keys for NTP authentication.
#keyfile /etc/chrony.keys

# Specify directory for log files.
logdir /var/log/chrony

# Select which information is logged.
#log measurements statistics tracking

