<VirtualHost *:80>
    ServerName graphite-web
    DocumentRoot "/usr/share/graphite/webapp"
    ErrorLog /var/log/httpd/graphite-web-error.log
    CustomLog /var/log/httpd/graphite-web-access.log common
    # Header set Access-Control-Allow-Origin "*"
    # Header set Access-Control-Allow-Methods "GET, OPTIONS"
    # Header set Access-Control-Allow-Headers "origin, authorization, accept"
    # Header set Access-Control-Allow-Credentials true

    WSGIScriptAlias / /usr/share/graphite/graphite-web.wsgi
    WSGIImportScript /usr/share/graphite/graphite-web.wsgi process-group=%{GLOBAL} application-group=%{GLOBAL}
    <Location "/content/">
        SetHandler None
    </Location>
    Alias /media/ "/usr/lib/python2.7/site-packages/django/contrib/admin/media/"
    <Location "/media/">
        SetHandler None
    </Location>
   <Directory "/usr/share/graphite/">
       #<IfModule mod_authz_core.c>
           # Apache 2.4
           #Require local
       #</IfModule>
       #<IfModule !mod_authz_core.c>
           # Apache 2.2
           #Order Deny,Allow
           #Deny from all
           #Allow from 127.0.0.1
           #Allow from ::1
       #</IfModule>
        #yeet all users into graphite
        Require all granted
        Order allow,deny
        Allow from all
   </Directory>
</VirtualHost>