tickTime=2000
initLimit=10
syncLimit=5
dataDir={{zookeeper_data_dir}}
{% for entry in zookeeper_cluster %}
server.{{loop.index}}={{entry}}:2888:3888;2181
{% endfor %}
4lw.commands.whitelist=*
skipACL=true
quorumListenOnAllIPs=true