# {{ ansible_managed }}

[Unit]
Description=Shuts down Oracle DB cleanly on system using CRS.
Documentation="http://google.com"
After=network.target
Before=network-online.target
#Requires=network.target
#Wants=network-online.target
#Conflicts=none

[Service]
Type=simple
ExecStop=/usr/local/bin/stop_server_resources.sh
#ExecStart=
#ExecReload=
#Restart=
#RemainAfterExit=

[Install]
RequiredBy=network-online.target
