[gdot-el-6]
name=Local Packages for Enterprise Linux 6 - $basearch
baseurl=https://gdot-go-rhsat01.gdot.ad.local/pulp/repos/Default_Organization/Library/content/dist/rhel/server/6/6Server/x86_64/os/
failovermethod=priority
enabled={{ '1' if ( '6.' in ansible_distribution_version ) else '0' }}
gpgcheck=0
{% if yum_http_proxy is defined %}
proxy=http://{{yum_http_proxy}}:{{yum_http_proxy_port}}/
{% endif %}
sslverify=1
sslclientcert=/var/lib/yum/rhel6.cert.pem
sslclientkey=/var/lib/yum/rhel6.cert.pem