[gdot-elasticsearch]
name=Packages for Elasticsearch - $basearch
baseurl=http://{{yum_repo_hostname}}/elastic-upstream/
failovermethod=priority
enabled={{ '1' if ('gdot-elasticsearch' in yum_repos_extra) else '0' }}
gpgcheck=0
{% if yum_http_proxy is defined %}
proxy=http://{{yum_http_proxy}}:{{yum_http_proxy_port}}/
{% endif %}
