[gdot-el-7]
name=Local Packages for Enterprise Linux 7 - $basearch
baseurl=http://{{yum_repo_hostname}}/el-7/
failovermethod=priority
enabled={{ '1' if ( '7.' in ansible_distribution_version ) else '0' }}
gpgcheck=0
{% if yum_http_proxy is defined %}
proxy=http://{{yum_http_proxy}}:{{yum_http_proxy_port}}/
{% endif %}
