{% if host_file_prelocalhost is defined %}
{% for item in host_file_prelocalhost %}
{{ item.serverentry }}
{% endfor %}

{% endif %}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ ansible_default_ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}
{%- if host_file_server_extra is defined %}
{{ " " + host_file_server_extra }}
{% else %}

{% endif %}
{% if host_file_base is defined %}

{% for item in host_file_base %}
{{ item.serverentry }}
{% endfor %}
{% endif %}
{% if host_file_extra is defined %}

{% for item in host_file_extra %}
{{ item.serverentry }}
{% endfor %}
{% endif %}
