# {{ ansible_managed }}

output {
  elasticsearch {
    hosts => [ {{item.logstash_hosts}} ]
    user => logstash_writer
    password => '{{vault_logstash_elasticsearch_password}}'
    manage_template => false
    #index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    index => "%{[index]}-ilm"
  }
}
