# {{ ansible_managed }}

filter {
  if [agent][type] == "winlogbeat" {
    mutate {
      add_field => [ "index", "winlogbeat" ]
    }
  }
  else if [agent][type] == "filebeat" {
    mutate {
      add_field => [ "index", "filebeat" ]
    }
  }
  else if [type] == "syslog" {
  	syslog_pri{
  		add_field => [ "index", "rsyslog" ]
  	}
  }
}
