[sssd]
config_file_version = 2
reconnection_retries = 3
sbus_timeout = 30
services = nss, pam, ssh, sudo
domains = linux

[nss]
filter_groups = root
filter_users = root
reconnection_retries = 3

[pam]
reconnection_retries = 3

[sudo]
debug_level = 6

[domain/linux]
debug_level = 1
enumerate = true
id_provider = ldap
auth_provider = ldap
access_provider = ldap
sudo_provider = ldap
ldap_user_member_of = memberof
chpass_provider = none
{% if prod == True %}
ldap_uri = {% for item in ldapserversprod %} {{item.ldap}} {%- if not loop.last %},{% endif %} {% endfor %}{{ '\n' -}}
{% endif %}
{% if prod == False %}
ldap_uri = {% for item in ldapserversnonprod %} {{item.ldap}} {%- if not loop.last %},{% endif %} {% endfor %}{{ '\n' -}}
{% endif %}
ldap_tls_reqcert = demand
ldap_tls_cacert = /etc/pki/tls/certs/ad.crt
ldap_schema = rfc2307bis
ldap_pwd_policy = none
ldap_search_base = dc=gdot,dc=linux,dc=local
ldap_user_search_base = ou=people,dc=gdot,dc=linux,dc=local
ldap_group_search_base = ou=Groups,dc=gdot,dc=linux,dc=local
ldap_sudo_search_base = ou=sudoers,dc=gdot,dc=linux,dc=local
ldap_access_filter = (objectClass=*)
ldap_user_object_class = posixAccount
ldap_group_object_class = posixgroup
ldap_account_expire_policy = rhds
ldap_access_order = filter, expire
ldap_user_ssh_public_key = sshpublickey
ldap_user_gecos = gecos
ldap_user_uuid = nsUniqueId
ldap_group_uuid = nsUniqueId
ldap_sudo_full_refresh_interval=3600
ldap_sudo_smart_refresh_interval=300
