# {{ ansible_managed }}

## Original Defaults
Defaults !visiblepw
Defaults always_set_home
Defaults env_reset
Defaults env_keep = "COLORS DISPLAY HOSTNAME HISTSIZE INPUTRC KDEDIR LS_COLORS"
Defaults env_keep += "MAIL PS1 PS2 QTDIR USERNAME LANG LC_ADDRESS LC_CTYPE"
Defaults env_keep += "LC_COLLATE LC_IDENTIFICATION LC_MEASUREMENT LC_MESSAGES"
Defaults env_keep += "LC_MONETARY LC_NAME LC_NUMERIC LC_PAPER LC_TELEPHONE"
Defaults env_keep += "LC_TIME LC_ALL LANGUAGE LINGUAS _XKB_CHARSET XAUTHORITY"

## GDoT additions
Defaults insults
Defaults root_sudo
Defaults passwd_tries = 3
Defaults timestamp_timeout = 20
Defaults syslog = {{ gdot_sudoers_syslog_facility }}
Defaults mailto = "UNIX-alerts@dot.ga.gov"
Defaults secure_path = /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
Defaults listpw = never

root ALL = (ALL) NOPASSWD: ALL

satremote ALL = (ALL) NOPASSWD: ALL

ansible ALL = (ALL) NOPASSWD: ALL

User_Alias UNIX_ADMINS = %UNIX_Security_SysAdmins, %unixadm, %unxadmins
UNIX_ADMINS ALL = (ALL) NOPASSWD: ALL

Defaults:cmdb !requiretty
cmdb ALL = (ALL) NOPASSWD: /sbin/multipath -ll, /sbin/powermt display dev=all, /usr/sbin/dmidecode, /sbin/fdisk -l, /sbin/lvm vgdisplay -v, /sbin/vgdisplay -v, /usr/local/bin/fcplist, /sbin/chkconfig --list, /bin/grep ^id /etc/inittab, /bin/cat /etc/*, /usr/sbin/rndc stats

