#!/bin/sh
#
# {{ ansible_managed }}
#
# gdot_bc       
#
# chkconfig: 2345 12 89
# description: Changes IP address when located at the BC site.

# probe: true
# config: /etc/sysconfig/gdot_bc

### BEGIN INIT INFO
# Provides: gdot_bc
# Required-Start: $local_fs $network
# Required-Stop: $local_fs $network
# Default-Stop: 0 1 6
# Short-Description: Changes IP address when located at the BC site.
# Description: Changes IP address when located at the BC site.
### END INIT INFO

# Source function library.
. /etc/rc.d/init.d/functions

# Check for and source configuration file otherwise set defaults
[ -f /etc/sysconfig/gdot_bc ] && . /etc/sysconfig/gdot_bc

# See how we were called.
case "$1" in
  start)
	echo -n $"Starting GDOT BC Config: "
	/usr/local/bin/chg_ip.sh && success || failure
	echo
	;;
  stop)
	:
	;;
  status)
	:
	;;
  restart)
	:
	;;
  *)
	echo $"Usage: gdot_bc {start|stop|status|restart}"
	RETVAL=2
	;;
esac

exit $RETVAL
