#!/bin/sh
#
# {{ ansible_managed }}
#
# Description: Change network information on host during BC failover
# Author: Michael Morris
# Email: mimorris@dot.ga.gov
# Date: 09/26/2018
################################################################################
# Variables #
#############
# Interface to use
IFACE='{{ bcdr_iface }}'

# Network information for OGC
OGC_IP='{{ bcdr_ogc_ip }}'
OGC_NM='{{ bcdr_ogc_nm }}'
OGC_GW='{{ bcdr_ogc_gw }}'
OGC_DNS1='{{ bcdr_ogc_dns1 }}'
OGC_DNS2='{{ bcdr_ogc_dns2 }}'
OGC_PF=$(/bin/ipcalc -p ${OGC_IP} ${OGC_NM} | awk -F= '{print $2}')

# Network information for BC
BC_IP='{{ bcdr_bc_ip }}'
BC_NM='{{ bcdr_bc_nm }}'
BC_GW='{{ bcdr_bc_gw }}'
BC_DNS1='{{ bcdr_bc_dns1 }}'
BC_DNS2='{{ bcdr_bc_dns2 }}'
BC_PF=$(/bin/ipcalc -p ${BC_IP} ${BC_NM} | awk -F= '{print $2}')



#############
# Functions #
################################################################################
# Be loud when needed
verb() {
  if [[ ${verbose} -eq 1 ]] ;then
    echo "${@}"
  fi
}


# Change live interface to use BC network
chg_net_bc() {
  verb "Changing active interface to BC network!"
  /sbin/ip addr del ${OGC_IP}/${OGC_PF} dev ${IFACE}
  /sbin/ip addr add ${BC_IP}/${BC_PF} dev ${IFACE}
}


# Test ping a gateway IP
test_gate() {
  /bin/ping -c 3 $1 >/dev/null 2>&1
  sleep 5
  /bin/ping -c 3 $1 >/dev/null 2>&1
  return $?
}


# Change network config referenced in
# /etc/sysconfig/network-scripts/ifcfg-INTERFACE
chg_ifcfg () {
  if=${1}; ip=${2}; nm=${3}; gw=${4}; pf=${5}; d1=${6}; d2=${7}
  IFCFG=/etc/sysconfig/network-scripts/ifcfg-${if}
  sed -i \
    -e "s/^\(IPADDR\)=.*/\1=${ip}/" \
    -e "s/^\(NETMASK\)=.*/\1=${nm}/" \
    -e "s/^\(GATEWAY\)=.*/\1=${gw}/" \
    -e "s/^\(PREFIX\)=.*/\1=${pf}/" \
    -e "s/^\(DNS1\)=.*/\1=${d1}/" \
    -e "s/^\(DNS2\)=.*/\1=${d2}/" \
  ${IFCFG}
}


# Change IP address referenced in /etc/hosts
chg_hosts() {
  from_ip=${1}; to_ip=${2}
  sed -i "s/^${from_ip}\(\s\)/${to_ip}\1/" /etc/hosts
}



#############
# Execution #
################################################################################
# Validate we are indeed superuser.
if [[ $(whoami) != 'root' ]] ;then
  echo "You must be root to run this script."
  exit 1
fi

reset=0; verbose=0
# Evaluate commandline arguments
case ${@} in
  -r)
    reset=1
  ;;
  -v)
    verbose=1
  ;;
  *)
    :
  ;;
esac

# Grab the existing IP address for comparisons.
active_ipaddr=$(/sbin/ip addr show ${IFACE} | awk '/^    inet / {print $2}' | cut -d/ -f1)


# Only allow reset the interface back to OGC's network config if we are NOT
# running on the OGC IP address.
if [[ ${reset} -eq 1 ]] && [[ "${active_ipaddr}" != "${OGC_IP}" ]] ;then
  ifcfg=/etc/sysconfig/network-scripts/ifcfg-${IFACE}
  echo "Invoked with \"reset\" flag.  Configuring ifcfg-${IFACE} to reflect OGC network information."
  chg_ifcfg ${IFACE} ${OGC_IP} ${OGC_NM} ${OGC_GW} ${OGC_PF} ${OGC_DNS1} ${OGC_DNS2}
  chg_hosts ${BC_IP} ${OGC_IP}

  echo -e "\n${ifcfg}:"
  echo "==================================================="
  cat ${ifcfg}
  echo "==================================================="
  echo "Please reboot the system for the changes to take effect."

else

  # If we're running on the OGC IP address, we can proceed with the test for
  # checking if we're at the BC location.
  if [[ "${active_ipaddr}" = "${OGC_IP}" ]] ;then
    test_gate ${OGC_GW}

    # If we are not able to reach the OGC gateway, then we might be at the BC
    # site.  We will need to change the active IP address to reflect the BC
    # site's IP address and test connectivity to the the BC gateway.
    if [[ $? -ne 0 ]] ;then
      verb "We might be at the BC site!  Switching to the BC IP address."
      chg_net_bc

      verb "Testing the BC gateway."
      test_gate ${BC_GW}

      # If we're at the BC location, we will need to change the interface init
      # configuration and /etc/hosts to reflect the BC site's network
      # information and reboot the system.
      if [[ $? -eq 0 ]] ;then
        verb "We ARE at the BC site!  Changing ifcfg-${IFACE} to reflect BC network information."
        chg_ifcfg ${IFACE} ${BC_IP} ${BC_NM} ${BC_GW} ${BC_PF} ${BC_DNS1} ${BC_DNS2}
        chg_hosts ${OGC_IP} ${BC_IP}
        reboot
      else
        exit 1
      fi
    fi
  fi
fi
