# {{ ansible_managed }}

[Unit]
Description=Changes IP address when located at the BC site.
Documentation="http://google.com"
After=network.target
Before=network-online.target
#Requires=network.target
#Wants=network-online.target
#Conflicts=none

[Service]
Type=simple
ExecStart=/usr/local/bin/chg_ip.sh
#ExecStop=
#ExecReload=
#Restart=
#RemainAfterExit=

[Install]
RequiredBy=network-online.target
