# Config file for collectd(1).
#
# Some plugins need additional configuration and are disabled by default.
# Please read collectd.conf(5) for details.
#
# You should also read /usr/share/doc/collectd-core/README.Debian.plugins
# before enabling any more plugins.

FQDNLookup true
Interval {{ collectd_interval }}
#Timeout 2
#ReadThreads 5
#WriteThreads 5

LoadPlugin syslog

<Include "/etc/collectd.d">
	Filter "*.conf"
</Include>
